.container {
    font-family: 'Arial';
    color: white;
    background-color: #243349;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.contentLeft {
    border: 2px solid magenta;
    width: 25vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentCenter {
    border: 2px solid gold;
    width: 50vw;
    padding: 2%;
}

.contentRight {
    border: 2px solid greenyellow;
    width: 25vw;
    padding: 2%;
}

.logoHome {
    height: 8vh;
    width: 4vw;
    cursor: pointer;
}

.logoutBtn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
}

.avatar {
    height: 8vh;
    width: 4vw;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameUser {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

.allHashtag {
    font-family: 'Arial';
    max-height: 80vh;
    color: white;
    background-color: #313842;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden
}