.container {
    font-family: 'Arial';
    color: white;
    background-color: #10223d;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0px;
}

.contentLeft {
    width: 25vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid rgb(181, 180, 180);
}

.contentCenter {

    width: 50vw;
    padding: 2%;
    overflow-y: auto;
    overflow-x: auto;
    border: 0.5px solid rgb(181, 180, 180);
}

.contentRight {
    border: 0.5px solid rgb(181, 180, 180);
    width: 25vw;
    padding: 2%;
}

.logoHome {
    height: 8vh;
    width: 4vw;
    cursor: pointer;
}

.logoutBtn {

    cursor: pointer;
    background-color: rgb(67, 177, 240);
    color: #243349;
    border-radius: 20px;
    border: 0;
    width: 50%;
    height: 25px;
    margin-left: 10px;
}

.avatar {
    height: 8vh;
    width: 4vw;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3vh;
}

.nameUser {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 0vh;
    margin-bottom: 0vh;

}

.firstname {
    font-weight: bolder;
    color: cadetblue;

}



.unsename .allHashtag {
    font-family: 'Arial';
    max-height: 80vh;
    color: white;
    background-color: #313842;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
}