.container {
    font-family: 'Arial';
    color: white;
    background-color: #10223d;
    margin: 0px;
    overflow-y: auto;


}

.logoUtilisateur {
    height: 8vh;
    width: 4vw;
    padding: 20vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Arial';
    color: white;
    width: auto;
    height: 20vh;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    border-bottom: 0.5px solid rgb(181, 180, 180);
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.inputTweet {
    color: rgb(71, 163, 216);
    background-color: transparent;
    border: 0.5px solid rgb(181, 180, 180);
    height: 5vh;
    padding-top: 2vh;
    margin-top: 2vh;
}

.btnContainer {
    display: flex;
    margin-top: 2%;
    justify-content: right;
}

.tweetBtn {
    background-color: rgb(67, 177, 240);
    color: #243349;
    border-radius: 20px;
    border: 0;
    width: 50%;
    height: 25px;
    margin-left: 10px;

}

.allTweets {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2vh;
}

.nbrOfCaracters {
    font-family: 'Arial';
    font-weight: lighter;
}